.cardHeader{
    background-color:rgba(130, 26, 142,0.2);

    text-align:center;
}

.cardCard{
    width:70%;
    height:100%;
}
.btn-link{
    font-size:30px;
    text-decoration:none;
}
.cardImage{
    width:200px;
    height:50px;
}