@keyframes panning {
    0% {
      background-position: 0% 0%;
    }
    25% {
      background-position: 100% 100%;
    }
     50% {
      background-position: 100% 0%;
    }
    75% {
      background-position: 0 100%;
    }
    200% {
      background-position: 0 0;
    }
  }

.navBar {
    position: relative;
    animation: panning 250s infinite linear;
}

.navIcons{
    width:50px;
    height:50px;
    fill:white;
    padding:0 6px;
}
.navWords {
    display: none;
    color:white;
    
}

.navIcons:hover{
    width:50px;
    height:50px;
    cursor:pointer;
    
}


.navIcons:hover + .navWords{
    display:block;
    text-decoration: none;
    font-size: 25px;
    -webkit-animation: arrowInOut 5.5s linear forwards;
    animation: arrowInOut 5.5s linear forwards;
    color:yellow;
    text-shadow:white 0px 0px 2px;
   }
   
   @-webkit-keyframes arrowInOut {
    0%,100% {opacity: 0;}
    30%, 80% {opacity: 1;}
   }
   @keyframes arrowInOut {
    0%,100% {opacity: 0;}
    30%, 80% {opacity: 1;}
    }

.navLinks{
    text-decoration: underline pink;
}