

ol.carousal-indicators{
    height:100vh;
}

ol.carousel-indicators li{
    margin-top:30rem;
    background-color:grey;
    border-radius:10px;
    width:50px;
    height:15px;
    border:2px solid white;

}
ol.carousel-indicators li.active{
    background-color:pink;
}

a.carousel-control-prev{
    padding:0px;
    visibility:hidden;
}

a.carousel-control-next{
    padding:0px;
    visibility:hidden;
}

.header{
    text-decoration:underline pink;
    -webkit-animation: arrowInOut 6s linear forwards;
    animation: arrowInOut 6s linear forwards;
}
   
    
@keyframes arrowInOut {
    0%{opacity: 0;};
    30%, 80%, 100% {opacity: 1;};
}

.githubLogo{
    width:30px;
    height:30px;
}
.linkLogo{
    width:30px;
    height:30px;
}